SWIFT_VERSION = 6.0
MACOSX_DEPLOYMENT_TARGET = 10.15
CLANG_ENABLE_MODULES = YES
SWIFT_STRICT_CONCURRENCY = targeted
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
DEAD_CODE_STRIPPING = YES
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO

